body{
  margin: 0;
  text-align: center;
  font-family: 'Source Serif Pro', serif;
}

span{
  text-decoration: underline;
}

h1{
  color: #66BFBF;
  font-family: 'Parisienne', cursive;
  font-size: 6.25rem;
  margin: 3.125rem auto 0 auto;
}

h2{
  color: #66BFBF;
  font-family: 'Source Serif Pro', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
  color: #11999E;
  font-family: 'Source Serif Pro', serif;
}

hr{
  border-color: grey;
  border-style: dotted none none;
  border-width: 5px;
  margin: 70px auto;
  width: 3%
}

p{
  color: #40514E;
}

.top-container{
  background-color: #DEEDF0;
  position: relative;
  padding-top: 9.375rem;
}

.top-cloud{
  position: absolute;
  right: 400px;
  top: 70px;
}

.bottom-cloud{
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.middle-container{
  margin-top: 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.programmer-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.career-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.CONTACT-ME {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 1.25rem;
   font-weight: 100;
   margin: 50px 0 0 0;
   padding: 0.7rem;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.bottom-container{
  background-color: #66BFBF;
  margin-top: 100px;
  padding: 40px 0 30px;
}

.bottom-container a{
  color: #000000;
}

.bottom-container p{
  color: #EAF6F6;
  margin-top: 20px;
}
