body{
  margin: 0;
  text-align: center;
  font-family: 'Source Serif Pro', serif;
}

span{
  text-decoration: underline;
}

h1{
  color: #66BFBF;
  font-family: 'Parisienne', cursive;
  font-size: 6.25rem;
  margin: 3.125rem auto 0 auto;
}

h2{
  color: #66BFBF;
  font-family: 'Source Serif Pro', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
  color: #11999E;
  font-family: 'Source Serif Pro', serif;
}

hr{
  border-color: grey;
  border-style: dotted none none;
  border-width: 5px;
  margin: 70px auto;
  width: 3%
}

p{
  color: #40514E;
  line-height: 2;
}

.top-container{
  background-color: #DEEDF0;
  position: relative;
  padding-top: 9.375rem;
}

.top-cloud{
  position: absolute;
  right: 330px;
  top: 70px;
}

.intro{
  width: 30%;
  margin: auto;
}

.bottom-cloud{
  position: absolute;
  left: 330px;
  bottom: 300px;
}

.middle-container{
  margin-top: 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.programmer-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.career-img{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message{
  width: 40%;
  margin: 40px auto;
  padding: 0 0 40px;
}

.CONTACT-ME {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Source Serif Pro', serif;
  color: #ffffff;
  font-size: 20px;
  background: #66BFBF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.CONTACT-ME:hover {
  background: #11cdd4;
  text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  margin-top: 100px;
  padding: 50px 0 16px;
}

.bottom-container a{
  color: #000000;
  margin: 10px 20px;
  text-decoration: none;
}

.bottom-container a:hover{
  color: #EAF6F6;
}


.bottom-container p{
  color: #EAF6F6;
  padding: 0.8rem 0 0;
}
